/* Basic styling -- mobile first */
body {
	background-color: white;
	margin: 0;
}

h1,h2 {
	margin-top: 0;
	margin-bottom: .8125rem;
}


label {
	display: inline-block;
	width: 100px;

}

button {
	margin-bottom: .8125rem;
	margin-top: .8125rem;
}

/* Class styles */

.main-header {
	background-color: #037dae;
	color: #ffffff;
	text-align: center;
}

.results {
	padding: .8125rem;
}

.search-form {
	width: 100%;
}

.search-inputs {
	width: 35%;
}

.results-heading {
	background-color: #00a0df;
	color: #ffffff;
	text-align: center;
}

.sort-button {
	margin-top: 0;
}

.wordcount {
	display: inline;
	float: right;
	margin-top: 0;
}

.results {
}

.result-div {
	border-bottom: 2px solid #037dae;
	margin-bottom: .8125rem;
}


/* Styling for sizes other than XS */
@media screen and (min-width: 480px) {
	body {
		max-width: 70%;
		margin: 0 15% 0 15%;
	}

	label {
		max-width: 15%;
		min-width: 10%;
	}

	.search-button-container {
		display: block;
	}

	.form-group {
		display: block;
	}

	.search-inputs {
		max-width: 10%;
		min-width: 5rem;
	}

	.wordcount {
		display: block;
		float: none;
		margin: .8125rem 0 .8125rem 0;
	}
}